* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item{
    background-color: aliceblue;
  }
  &__link{
    border: 1px solid black;
    background-color: #008000
  }

}